body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}
.graybg{
    background-color: #F9FAFB;
}

/* own header */

.my-own-header .container-fluid,
.slider-section .container-fluid{
    max-width: 1280px;
}

/* defult button */


body .btn-primary {
    background-color: #E83B3E !important;
    border-color: #E83B3E;
    padding: 11px 32px;
    font-size: 16px;

    position: relative;
    z-index: 1;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #111;
    border-color: #111 !important;

    z-index: -1;
    transition: .3s;
}
body .btn-primary:hover::after{
    width: 100%;

}

/* Header menu */


ul.our-own-menu li:hover >a{
    color: #E83B3E;
}
ul.our-own-menu li .active-item{
    color: #E73C3E;
}
.active-item i {
    font-size: 12px;
}
.not-active i{
    font-size: 12px;
}
ul.our-own-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}

.header-info{}
.header-search {
    width: 50px;
    font-size: 21px;
    margin-right: 15px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.header-call {
    width: 220px;
}
.header-call-icon {
    font-size: 32px;
    color: #E83B3E;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a {
    text-decoration: none;
    color: #111;
    font-size: 17px;
    font-weight: 500;
}
.header-button{}

/* Dropdown Menu */

ul.our-own-menu li{
    position: relative;
}
ul.our-own-menu li ul{
    position: absolute;
    width: 200px;
    left: 0;
    top: 150%;
    background-color: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
ul.our-own-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
ul.our-own-menu li ul li{
    flex-direction: column;
}
ul.our-own-menu li ul li a{}

/* ul.our-own-menu li a span {
    position: absolute;
    top: 11px;
    right: 3px;
} */

/* Slider/Banner Section */

.slider-section{
    background: url(https://i.ibb.co/rpR3WHX/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

.slider-section-wrap{
    height: 120vh;
    display: flex;
    align-items: center;
    position: relative;
}
.social-content{
    position: absolute;
    left: 0;
    bottom: 0;
}
.slider-content p {
    font-size: 20px;
    color: #606060;
}
.slider-content h6 {
    color: #E83B3E;
}
.slider-content h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-content ul {
    list-style: none;
    padding-left: 10px;
}
.social-content ul li{}
.social-content ul li a{
    text-decoration: none;
    display: inline-block;
    color: #111;
    padding: 0 12px;
    font-size: 18px;
}
.social-content ul li span{
    font-size: 18px;
    display: inline-block;
    margin-right: 50px;
    position: relative;

}
.social-content ul li span::after {
    content: "";
    height: 1px;
    width: 35px;
    background: #111;
    position: absolute;
    top: 52%;
    right: -48px;
}

/* Part 2 Css */

/* company logo section */

.logo-section{
    border-bottom: 1px solid #ddd;
}
.company-logo ul{
    list-style: none;
}
.company-logo ul li{}

/* About section */

.about-image{
    position: relative;
}
.about-image-text {
    position: absolute;
    right: 44px;
    bottom: 0;
    background: url(https://i.ibb.co/XSmN1ZB/shape.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-image-text-item h2 {
    font-size: 70px;
    color: #E83B3E;
}
.about-image-text-item p {
    font-size: 18px;
    font-weight: 500;
}

.about-text{}
.finix-text{}
.finix-text h6 {
    font-size: 15px;
    color: #E83B3E;
    font-weight: 400;
}
.finix-text h2 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
.finix-text p {
    font-size: 15px;
    font-weight: 400;
    color: #606060;
}
.finix-text ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.finix-text ul li{
    padding: 5px 0;
}
.finix-text ul li::before {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    color: #E83B3E;
    font-size: 20px;
    margin-right: 11px;
    display: inline-block;
}
.finix-text strong {
    font-size: 19px;
    font-weight: 400;
    color: #606060;
}